<form>
  <ion-item>
    <ion-label>Id:</ion-label>
    <ion-input [(ngModel)]="meal.id" ngControl="id" name="id" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input [(ngModel)]="meal.name" ngControl="name" name="name" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>No. of calories:</ion-label>
    <ion-input [(ngModel)]="meal.calorie" ngControl="calorie" name="calorie" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input [(ngModel)]="meal.ingredients" ngControl="ingredients" name="ingredients"></ion-input>
  </ion-item>
  <ion-button (click)='addMeal()' *ngIf="!inputMeal" color="success" expand="full">Add</ion-button>
  <ion-button (click)='updateMeal()' *ngIf="inputMeal" color="warning" expand="full">Update</ion-button>
  <ion-button (click)='clearMeal()' *ngIf="inputMeal" color="danger" expand="full">Cancel</ion-button>
</form>
