<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today's meal
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <app-meal [inputMeal]='inputMeal'></app-meal>
  <ion-item *ngFor="let meal of meals">
    <ion-label class="ion-text-wrap" (click)="openMeal(meal)">
      <ion-text>
        <h3 style="color: black; font-weight: bold;">{{meal.name}}</h3>
      </ion-text>
      <p>Calorii: {{meal.calorie}} cal</p>
      <br>
      <ion-text style="color: black; display: inline;">
        <p style="display: inline; font-weight: bold;">Ingrediente: </p>
        <p style = "display: inline">{{meal.ingredients}}</p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>
